* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(254, 250, 240);
}

.container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
}

.logo {
    font-weight: bolder;
    font-size: 40px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.menu-btn i {
    color: rgb(153, 153, 219);
    font-size: 32px;
    cursor: pointer;
    display: none;
}

ul {
    display: flex;
}

ul li {
    list-style: none;
    margin-inline: 8px;
}

ul li a {
    text-decoration: none;
    color: rgb(153, 153, 219);
}

ul li a:hover {
    text-shadow: 1px 0px rgb(153, 153, 219);
}

/* sidebar */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
}

/* content */
.content {
    width: 65%;
    height: 25vh;
}

.content_image {
    width: 100%;
    height: 35vh;
    cursor: pointer;
}

.content_image:active {
    box-shadow: rgba(0, 0, 0, 0.15) 20px 20px 26px;
}

.content_text {
    display: flex;
    padding: 15px 0;
}

.content_text-header {
    width: 45%;
    text-align: start;
    text-transform: capitalize;
    font-size: 60px;
}

.content_text-card {
    width: 40%;
    margin-inline: 10px;
}

.content_text-card p {
    color: rgb(94, 94, 159);
    font-size: 18px;
    line-height: 1.5;
    cursor: pointer;
}

.content_text-card button {
    width: 50%;
    padding: 15px;
    margin: 8% 0;
    border: none;

    background-color: rgb(238, 67, 67);

    cursor: pointer;
    transition: all linear .3;
}

.content_text-card button a {
    color: black;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.content_text-card button:hover {
    background-color: transparent;
    color: rgb(238, 67, 67);
    border: 1px solid rgb(238, 67, 67);
}

.content_text-card button a:active {
    color: rgb(238, 67, 67);
}

/* aside */
.aside {
    width: 28%;
    background-color: rgb(1, 1, 58);
    padding: 20px 5px;
}

.aside:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 26px 26px 28px;
}

.aside_content-header a {
    font-size: 35px;
    color: rgb(255, 136, 0);
    margin: 5px 15px;
    font-weight: 900;
}

.aside_content {
    width: 90%;
    height: 28%;
    margin: 0 auto;
    padding: 35px 0;
    border-bottom: 1px solid white;
}

.aside_content-footer {
    border: none;
}

a {
    text-decoration: none;
}

.aside_content a h3 {
    color: white;
}

.aside_content a p {
    color: rgb(202, 194, 194);
}

/* footer */
.news-content {
    margin: 7% 0;
    width: 30%;
    display: flex;
}

.news-content:hover {
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.news-content_image {
    width: 30%;
    height: 100%;
}

.news-content_text {
    margin: 0 10px;
}

.news-content_text a h2 {
    color: rgb(238, 67, 67);
    font-size: 25px;
}

.news-content_text a h4 {
    color: black;
}

.news-content_text a p {
    color: rgb(94, 94, 159);
    font-size: 18px;
    margin: 8px 0;
}

#click {
    display: none;
}

@media (max-width: 768px) {
    .container-column {
        flex-direction: column;
    }

    .content {
        height: auto;
        width: auto;
    }

    .aside {
        width: auto;
    }

    .news-content {
        width: auto;
    }

    .news-content_image {
        height: 60%;
    }
}

@media screen and (max-width: 650px) {
    .container-column-header {
        flex-direction: column;
    }

    .content_text-header {
        width: auto;
        text-align: center;
    }

    .content_text-card {
        width: auto;
        text-align: center;
    }

    .content_text-card button {
        width: 90%;
    }
}

@media (max-width: 940px) {
    .menu-btn i {
        display: block;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
    }

    ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #111;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
    }

    #click:checked~ul {
        left: 0%;
    }

    li {
        margin: 40px 0;
    }

    ul li a {
        font-size: 22px;
        display: block;
    }

    ul li a:hover,
    ul li a:focus {
        color: cyan;
        background-color: none;
    }

    .content_text-header {
        font-size: 45px;
    }

    #click:checked~body {
        overflow: hidden;
    }
}